<h1>Search Forums</h1>
<%= form_tag(home_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


<table style="width:100%">
  <thead>
    <tr>
      <th> Id </th>
      <th> Title </th>
      <th> Description </th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td>  <%= link_to forum.id, forum %></td>
        <td>  <%= link_to forum.title, forum %></td>
        <td>  <%= forum.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Forum', new_forum_path %>
