<% provide(:title, @forum.title) %>

<%= link_to 'Back', search_forum_path %>
<div class="row search">
  <div class="search-result well">
    <h1> <%= @forum.title %> </h1>
    <p><%= @forum.description %></p>
    <% if user_signed_in? %>
    <%= link_to 'New Publication', new_forum_publication_path %> |
    <%= link_to 'Edit', edit_forum_path(@forum) %> |
    <%= link_to '  Destroy', @forum, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% else %>
    <p><strong> Sign in to create new publications! </strong></p>
    <% end %>
  </div>
</div>


<p style="margin-left: 30px">
  <% @forum.publications.order(:id).each do | publication | %>
    <div class="row search">
      <div class="search-result well">
        <h3><%= link_to publication.title, publication %></h3>
        <% pos = publication.votos>=0 %>
        <h3 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': '-'  %> <%= publication.votos%>)</h3>
        <h3> - <%= link_to publication.user.userName, publication.user  %></h3>
      </div>
    </div>

  <% end %>
   <% if @forum.publications.size == 0 %>
  	<em> This forum has no publications </em>
  <% end %>
</p>
