<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forum.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forum.description %>
</p>
 
<p>
<strong>Publications:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @forum.publications.each do | publication | %>
  <%= publication.id %>. <%= link_to publication.title, publication %><br>
  <% end %>
   <% if @forum.publications.size == 0 %>
  	<em> This forum has no publications </em>
  <% end %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to '  Destroy', @forum, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', forums_path %>
