<% provide(:title, @forum.title) %>
<br>
<div class="row search">
  <div class="search-result well">
    <h1 style="display:inline"> <%= @forum.title %> </h1>
    <% pos = @forum.votos>=0 %>
    <h2 class="votes-<%= pos ? 'green' : 'red' %> ", style="display:inline;"> (<%= pos ? '+': ''  %> <%= @forum.votos%>)</h2>
    <p><strong><%= @total_subscriptors %> Subscribers</strong> </p>

    <p></p>
    <p><%= @forum.description %></p>
    <%= render 'modals/new_publication' %>
    <% if user_signed_in? %>
    <button id="newPubBtn" class="btn btn-default" type="button">Create Publication</button>
      <% if current_user.forums.include?(@forum) %>
        <%= form_for @subscription, method: :delete do |f| %>
        <%= f.hidden_field :forum_id, value: @forum.id  %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
        <%= f.submit 'Unsubscribe', class: 'btn btn-warning'  %>
        <% end %>
      <% else %>
        <%= form_for @subscription do |f| %>
        <%= f.hidden_field :forum_id, value: @forum.id  %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
        <%= f.submit 'Subscribe', class: 'btn btn-warning'  %>
        <% end  %>
      <% end %>

      <% if !current_user.moderated_forums.include? @forum%>
        <%= form_tag '/moderate/request' do %>
          <%= hidden_field_tag :forum_id, @forum.id  %>
          <%= hidden_field_tag :user_id, current_user.id  %>
          <%= submit_tag 'Apply as Moderator', class: 'btn btn-default' %>
        <% end %>
      <% elsif !current_user.accepted(@forum.id)%>
        <p>Pending moderator request.</p>
      <% else %>
        <p>You are Moderator in this forum</p>
        <%= form_tag '/moderate/', method: :delete do %>
          <%= hidden_field_tag :forum_id, @forum.id  %>
          <%= hidden_field_tag :user_id, current_user.id  %>
          <%= submit_tag 'Resign as Moderator' %>
        <% end %>
      <% end %>
      <% if current_user.role.zero? %>
      <br>
        <%= link_to 'Edit', edit_forum_path(@forum) %> |
        <%= link_to '  Destroy', @forum, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
    <% else %>
      <p><strong> Sign in to create new publications! </strong></p>
    <% end %>
  </div>
</div>


<p style="margin-left: 30px">
  <% @publications.each do | publication | %>
    <div class="row search">
      <div class="search-result well">
        <h3><%= link_to publication.title, publication %></h3>
        <% if publication.votos.nil? %>
            <% publication.votos = 0 %>
        <% end %>
        <% pos = publication.votos>=0 %>
        <h3 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= publication.votos%>)</h3>
        <h3> - <%= link_to publication.user.userName, publication.user  %></h3>
      </div>
    </div>

  <% end %>
   <% if @forum.publications.size == 0 %>
  	<em> This forum has no publications </em>
  <% end %>
</p>


<center>
<div class="digg_pagination">
<%= will_paginate @publications %>
</div>
</center>
