<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @comment.user.userName, @comment.user %>
</p>

<p>
  <strong>Publication:</strong>
  <%= link_to @comment.publication.title, @comment.publication %>
</p>

<% if user_signed_in? && current_user.role.zero? %>
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<% end %>
<%= link_to 'Back', comments_path %>
