<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :publication_title, required: true %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :publication_content, required: true %>
  </div>
  <% if @publication.new_record? %>
    <%= form.hidden_field :user_id, id: :publication_user_id, value: current_user.id %>
    <%= form.hidden_field :forum_id, id: :publication_forum_id, value: @forum_id %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
