<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th>Forum</th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= link_to publication.title, publication %></td>
        <td><%= publication.content %></td>
        <%puts(publication) %>
        <td><%= link_to publication.user.userName, publication.user  %></td>
        <td><%= link_to publication.forum.title, publication.forum  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Home', :home %>
