<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @publication.content %>
</p>

<p>
  <strong>Published by:</strong>
  <%=  link_to @publication.user.userName, @publication.user %>

</p>

<p>
  <strong>Forum:</strong>
  <%=  link_to @publication.forum.title, @publication.forum %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Destroy', @publication, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', publications_path %>
