<% provide(:title, @publication.title) %>

<h5>
  <strong>Forum:</strong>
  <%=  link_to @publication.forum.title, @publication.forum %>
</h5>

<h1>
  <% if @publication.votos >= 0 %>
  +<%=@publication.votos %>
  <% else %>
  -<%=@publication.votos %>
  <% end %>
  <strong><%= @publication.title %> </strong>
</h1>

<p style="font-size:110%;">
  <%= @publication.content %>
</p>

<p>
  <strong>By:</strong>
  <%=  link_to @publication.user.userName, @publication.user %>
</p>

<div class="container">
  <% @publication.comments.each do |comment| %>
  <p><strong><%=comment.user.userName %>:</strong> <%= comment.content %> </p>
  <% end %>
  <% if (user_signed_in?) %>
    <%= form_for @comment do |f| %>
    <%= f.text_field :content  %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :publication_id, value: @publication.id  %>
    <%= f.submit %>
    <% end %>
  <% end %>
</div>

<% if (user_signed_in?) %>
  <%= form_for @vote do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id  %>
  <%= f.hidden_field :publication_id, value: @publication.id  %>
  <%= f.submit value: "UpVote" %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Destroy', @publication, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', @publication.forum %>
