<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @publication.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @publication.user %>
</p>

<p>
  <strong>Forum:</strong>
  <%= @publication.forum %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
