<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= link_to user.userName, user %></td>
        <td><%= link_to user.firstName, user %></td>
        <td><%= link_to user.lastName, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%-# <%= link_to 'New User', new_user_path %> 
