<p id="notice"><%= notice %></p>

<h1>
  <% pos = @user.reputation>=0 %>
  <span class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= @user.reputation%>)</span>
  <span><strong><%= @user.userName %></strong></span>

  <% if user_signed_in? && current_user == @user %>
  -
  <%= @user.firstName %>
  <%= @user.lastName %>
  <% end %>

  <% if @user.role.zero? %>
  <i style="font-size:20px">(admin)</i>
  <% end %>

</h1>

<p>
<strong>Publications:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.publications.each do | publication | %>
  <%= publication.id %>. <%= link_to publication.title, publication %><br>
  <% end %>
  <% if @user.publications.size == 0 %>
  	<em> The user has no publications </em>
  <% end %>
</p>

<p>
<strong>Subscriptions:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.subscriptions.each do | subscription | %>
  <%= subscription.forum.id %>. <%= link_to subscription.forum.title, subscription.forum %><br>
  <% end %>
  <% if @user.subscriptions.size == 0 %>
  	<em> The user has no subscriptions </em>
  <% end %>
</p>

<p>
<strong>Moderating Forums:</strong><br>
</p>
<p style="margin-left: 30px">
  <% count = 0 %>
  <% @user.moderated_forums.each do | forum | %>
    <% if @user.accepted(forum.id) %>
      <%= forum.id %>. <%= link_to forum.title, forum %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <% if count.zero? %>
  	<em> The user doesn't moderate any forums. </em>
  <% end %>
</p>
<p>
  <strong>Moderating Requests:</strong><br>
</p>
<p style="margin-left: 30px">
  <% count = 0 %>
  <% @user.moderated_forums.each do | forum | %>
    <% unless @user.accepted(forum.id) %>
      <%= forum.id %>. <%= link_to forum.title, forum %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <% if count.zero? %>
  	<em> The user haven't requested to moderate any forums. </em>
  <% end %>
</p>
<p>

<strong>Starred:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.favorite_publications.each do | publication | %>
  <%= publication.id %>. <%= link_to publication.title, publication %><br>
  <% end %>
  <% if @user.favorite_publications.size == 0 %>
  	<em> The user has no starred publications </em>
  <% end %>
</p>


<%= link_to 'Back to Home', :home %>
