<% if user_signed_in? && current_user == @user %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.userName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @user.reputation %>
</p>


<p>
<strong>Publications:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.publications.each do | publication | %>
  <%= publication.id %>. <%= link_to publication.title, publication %><br>
  <% end %>
  <% if @user.publications.size == 0 %>
  	<em> The user has no publications </em>
  <% end %>
</p>

<p>
<strong>Subscriptions:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.subscriptions.each do | subscription | %>
  <%= subscription.forum.id %>. <%= link_to subscription.forum.title, subscription.forum %><br>
  <% end %>
  <% if @user.subscriptions.size == 0 %>
  	<em> The user has no subscriptions </em>
  <% end %>
</p>

<% else %>

<h2><strong> We're Sorry! </strong></h2>
<p style="font-size:20px"> You don't have permission to access this page. </p>

<% end %>

<%= link_to 'Back to Home', :home %>
