<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.userName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Role:</strong>
  <%if @user.role == 0 %>
  admin
  <% elsif @user.role == 1 %>
  moderator
  <% else %>
  user
  <% end %>
</p>

<p>
<strong>Publications:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.publications.each do | publication | %>
  <%= publication.id %>. <%= link_to publication.title, publication %><br>
  <% end %>
  <% if @user.publications.size == 0 %>
  	<em> The user has no publications </em>
  <% end %>
</p>

<p>
<strong>Subscriptions:</strong><br>
</p>
<p style="margin-left: 30px">
  <% @user.subscriptions.each do | subscription | %>
  <%= subscription.forum.id %>. <%= link_to subscription.forum.title, subscription.forum %><br>
  <% end %>
  <% if @user.subscriptions.size == 0 %>
  	<em> The user has no subscriptions </em>
  <% end %>
</p>


<%= link_to 'Back', :home %>
<% if user_signed_in? and current_user.role == 0 %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
