<% provide(:title, "Home") %>

<h1>Forums</h1>

<%= link_to 'New Forum', new_forum_path %>

<table>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Description</th>
		<th>Votes</th>
	</tr>
	<% @forums.order(:id).each do |forum| %>
	<tr>
        <td>  <%= link_to forum.id, forum %></td>
        <td>  <%= link_to forum.title, forum %></td>
        <td>  <%= forum.description %></td>
				<% votos = 0 %>
				<% forum.publications.each do |publication|%>
				<% votos += publication.votos%>
				<% end %>
				<% if votos >= 0 %>
				<td> +<%=votos %> </td>
				<% else %>
				<td> -<%=votos %> </td>
				<% end %>
	</tr>
	<% end %>
</table>
