<br>
<div class="row search">
  <div class="search-form well">
    <h1>Search Forums</h1>
    <%= form_tag(search_forum_path, :method => "get", id: "search-forum") do %>
    <%= text_field_tag :search_forum, params[:search_forum], placeholder: "Search Forums" %>
    <%= submit_tag "Search", name: nil, class: 'btn-primary' %>
    <% end %>
    <% unless @forums.nil?  && @users.nil? %>
      <% if user_signed_in? && current_user.role.zero? %>
        <%= link_to 'New Forum', new_forum_path %>
      <% end %>
    <% end %>
  </div>
</div>
  
<div class="row search">
  <div class="search-form well">
    <h1>Search Publications</h1>
    <%= form_tag(search_publication_path, :method => "get", id: "search-publication") do %>
    <%= text_field_tag :search_publication, params[:search_publication], placeholder: "Search Publication" %>
    <%= submit_tag "Search", name: nil, class: 'btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row top">
  <div class="col-xs-6">
    <h2><%= link_to 'Top 3 Forums', top_forums_path%></h2>
    <% @top_forums.take(3).each do |forum| %>
      <div class=" top-results">
        <div class="search-result well">
          <h4><%= link_to forum.title, forum %></h4>
          <% pos = forum.votos>=0 %>
          <h4 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= forum.votos%>)</h4>
          <h4>| <%= forum.description %></h4>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-xs-6">
    <h2><%= link_to 'Top 3 Publications', top_publications_path%></h2>
    <% @top_publications.take(3).each do |publication| %>
      <div class=" top-results">
        <div class="search-result well">
          <h4><%= link_to publication.title, publication %></h4>
          <% pos = publication.votos>=0 %>
          <h4 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= publication.votos%>)</h4>
          <h4>| <%= publication.content %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row top">
  <div class="col-xs-6">
    <h2><%= link_to 'Top 3 Users', top_users_path%></h2>
    <% @top_users.take(3).each do |user| %>
      <div class=" top-results">
        <div class="search-result well">
          <h4><%= link_to user.userName, user %></h4>
          <% pos = user.reputation >=0 %>
          <h4 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= user.reputation %>)</h4>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xs-6">
    <h2><%= link_to 'Top 3 Subscribed Forums', top_subscribed_path%></h2>
    <% @popular_forums.each do |forum| %>
      <div class=" top-results">
        <div class="search-result well">
          <h4><%= link_to forum.title, forum %></h4>
          <% pos = forum.votos>=0 %>
          <h4 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= forum.votos%>)</h4>
          <h4>| <%= forum.description %></h4>
          <h4>| <%= forum.subscriptors %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
