<div class="row search">
  <div class="search-form well">
    <h1>Search Users</h1>
    <%= form_tag(search_user_path, :method => "get", id: "search-user") do %>
    <%= text_field_tag :search_user, params[:search_user], placeholder: "Search User" %>
    <%= submit_tag "Search", name: nil, class: 'btn-primary' %>
    <% end %>
  </div>
</div>

<% @users.each do |user| %>
  <div class="row search">
    <div class="search-result well">
      <h3><%= link_to user.userName, user %></h3>
      <% pos = user.reputation>=0 %>
      <h3 class="reputation-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': '-'  %> <%= user.reputation%>)</h3>
    </div>
  </div>
<% end %>
