<div class="row search">
  <div class="search-form well">
    <h1>Search Publications</h1>
    <%= form_tag(search_publication_path, :method => "get", id: "search-publication") do %>
    <%= text_field_tag :search_publication, params[:search_publication], placeholder: "Search Publication" %>
    <%= submit_tag "Search", name: nil, class: 'btn-primary' %>
    <% end %>
  </div>
</div>

<% @publications.each do |publication| %>
  <div class="row search">
    <div class="search-result well">
      <h3> <%= link_to publication.forum.title, publication.forum %>:  </h3>
      <h3><%= link_to publication.title, publication %></h3>
      <% pos = publication.votos>=0 %>
      <h3 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= publication.votos%>)</h3>
      <h3> - By <%= link_to publication.user.userName, publication.user  %></h3>
    </div>
  </div>
<% end %>  
