<div class="row top">
  <br>
  <h1 align="center">Top Publications</h1>
  <br>
  <% @top_publications.each do |publication| %>
    <div class=" top-results">
      <div class="search-result well">
        <h4><%= link_to publication.title, publication %></h4>
        <% pos = publication.votos>=0 %>
        <h4 class="votes-<%= pos ? 'green' : 'red' %> "> (<%= pos ? '+': ''  %> <%= publication.votos%>)</h4>
        <h4>| <%= publication.content %></h4>
      </div>
    </div>
  <% end %>
</div>

<center>
<div class="digg_pagination">
<%= will_paginate @top_publications %>
</div>
</center>

