<br>
<div class="requests">
  <% current_user_requests = 0 %>
  <% @requests.each do |request| %>
    <% if current_user.role.zero?||(current_user.moderated_forums.include?(request.forum)&&current_user.accepted(request.forum_id)) %>
    <% current_user_requests = 1 %>
    <div class="row well">
      <div class="col-xs-9">
        <h3><%= link_to request.user.userName, request.user %> - wants to moderate - <%= link_to request.forum.title, request.forum %></h3>
      </div>
      <div class="col-xs-3 button">
        <%= link_to 'Approve', "/moderate/request/#{request.id}" , method: :patch, class: 'btn btn-success'  %>
        <%= link_to 'Reject', "/moderate/request/#{request.id}", method: :delete, class: 'btn btn-danger'  %>
      </div>
    </div>
    <% end %>
  <% end %>
  <% if current_user_requests == 0 %>
  <div class="row well">
    <h3>No pending requests.</h3>
  </div>
  <% end %>

</div>

<center>
<div class="digg_pagination">
<%= will_paginate @requests %>
</div>
</center>