<p id="notice"><%= notice %></p>

<p>
  <strong>Forum:</strong>
  <%= @subscription.forum %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
